<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NexusFlow</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/Images/favicon.png" rel="icon">
  <link href="assets/Images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/Images/Logo_1.png" alt="">
        <span class="d-none d-lg-block">NexusFlow</span>
      </a> <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new leads notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>New Lead: John Doe</h4>
                <p>New lead received from John Doe</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Updated Lead: Jane Smith</h4>
                <p>Lead details for Jane Smith updated</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>New Lead: Mark Johnson</h4>
                <p>New lead received from Mark Johnson</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Updated Lead: Emily Brown</h4>
                <p>Lead details for Emily Brown updated</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all leads notifications</a>
            </li>
          </ul><!-- End Leads Notifications Dropdown Items -->
        </li><!-- End Leads Notifications Nav -->

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/Images/messages-1.jpeg" alt="" class="rounded-circle">
                <div>
                  <h4>Lara Jade</h4>
                  <p>Hello, are you available for a meeting tomorrow?</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/Images/messages-2.jpeg" alt="" class="rounded-circle">
                <div>
                  <h4>Jane Smith</h4>
                  <p>Can you please share the updated sales report?</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/Images/messages-3.jpeg" alt="" class="rounded-circle">
                <div>
                  <h4>Ana Johnson</h4>
                  <p>Great job on the project! Let's celebrate our success.</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>
          </ul><!-- End Messages Dropdown Items -->
        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/Images/profile-img.JPG" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Natalie</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Natalie Wilson</h6>
              <span>Web Developer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="ST-user-settings.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="ST-general-settings.html">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#" onclick="openWhatsAppChat()">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-login.html">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#main-menu-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Main Menu</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="main-menu-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="menu-canapés-finger-foods.html">
              <i class="bi bi-circle"></i><span>Canapés & Finger Foods</span>
            </a>
          </li>
          <li>
            <a href="menu-breakfast.html">
              <i class="bi bi-circle"></i><span>Breakfast</span>
            </a>
          </li>
          <li>
            <a href="menu-salads.html">
              <i class="bi bi-circle"></i><span>Salads</span>
            </a>
          </li>
          <li>
            <a href="menu-main-courses.html">
              <i class="bi bi-circle"></i><span>Main Courses</span>
            </a>
          </li>
          <li>
            <a href="menu-live-stations.html">
              <i class="bi bi-circle"></i><span>Live Stations</span>
            </a>
          </li>
          <li>
            <a href="menu-desserts.html">
              <i class="bi bi-circle"></i><span>Desserts</span>
            </a>
          </li>
          <li>
            <a href="menu-beverage-selection.html">
              <i class="bi bi-circle"></i><span>Beverage Selection</span>
            </a>
          </li>
        </ul>
      </li><!-- End Main Menu Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#lead-management-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Lead Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="lead-management-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="LM-lead-tracking-and-organization.html">
              <i class="bi bi-circle"></i><span>Lead Tracking and Organization</span>
            </a>
          </li>
          <li>
            <a href="LM-follow-ups-and-reminders.html">
              <i class="bi bi-circle"></i><span>Follow-ups and Reminders</span>
            </a>
          </li>
          <li>
            <a href="LM-lead-conversion.html">
              <i class="bi bi-circle"></i><span>Lead Conversion</span>
            </a>
          </li>
        </ul>
      </li><!-- End Lead Management Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#event-management-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-calendar-event"></i><span>Event Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="event-management-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="EM-event-details-and-specifications.html">
              <i class="bi bi-circle"></i><span>Event Details and Specifications</span>
            </a>
          </li>
          <li>
            <a href="EM-venue-selection-and-availability.html">
              <i class="bi bi-circle"></i><span>Venue Selection and Availability</span>
            </a>
          </li>
          <li>
            <a href="EM-menu-customization-and-planning.html">
              <i class="bi bi-circle"></i><span>Menu Customization and Planning</span>
            </a>
          </li>
          <li>
            <a href="EM-equipment-and-rental-management.html">
              <i class="bi bi-circle"></i><span>Equipment and Rental Management</span>
            </a>
          </li>
          <li>
            <a href="EM-vendor-and-supplier-coordination.html">
              <i class="bi bi-circle"></i><span>Vendor and Supplier Coordination</span>
            </a>
          </li>
        </ul>
      </li><!-- End Event Management Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#financial-management-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-currency-dollar"></i><span>Financial Management</span><i
            class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="financial-management-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="FM-cost-estimation-and-budgeting.html">
              <i class="bi bi-circle"></i><span>Cost Estimation and Budgeting</span>
            </a>
          </li>
          <li>
            <a href="FM-pricing-and-package-management.html">
              <i class="bi bi-circle"></i><span>Pricing and Package Management</span>
            </a>
          </li>
          <li>
            <a href="FM-invoicing-and-payment-tracking.html">
              <i class="bi bi-circle"></i><span>Invoicing and Payment Tracking</span>
            </a>
          </li>
        </ul>
      </li><!-- End Financial Management Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#feedback-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-star"></i><span>Feedback & Reviews</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="feedback-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="FR-feedback-collection-and-analysis.html">
              <i class="bi bi-circle"></i><span>Feedback Collection and Analysis</span>
            </a>
          </li>
          <li>
            <a href="FR-customer-reviews-and-testimonials.html">
              <i class="bi bi-circle"></i><span>Customer Reviews and Testimonials</span>
            </a>
          </li>
        </ul>
      </li><!-- End Feedback & Reviews Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="ST-general-settings.html">
              <i class="bi bi-circle"></i><span>General Settings</span>
            </a>
          </li>
          <li>
            <a href="ST-user-settings.html">
              <i class="bi bi-circle"></i><span>User Settings</span>
            </a>
          </li>
        </ul>
      </li><!-- End Settings Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-question-circle"></i>
          <span>Help?</span>
        </a>
      </li><!-- End Help Nav -->

    </ul>

  </aside><!-- End Sidebar -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Capture Form</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Capture Form</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-10">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lead Capture Details</h5>
              <form>
                <!-- Basic Fields -->
                <div class="row mb-3">
                  <label for="lead-name" class="col-sm-2 col-form-label">Lead Name:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="lead-name" name="lead-name" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="client-type" class="col-sm-2 col-form-label">Client Type:</label>
                  <div class="col-sm-10">
                    <select class="form-select" id="client-type" name="client-type" required>
                      <option selected disabled>Select client type</option>
                      <option value="corporate">Corporate</option>
                      <option value="private">Private</option>
                      <option value="daily-catering">Daily Catering</option>
                      <option value="delivery">Delivery</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="sources" class="col-sm-2 col-form-label">Sources:</label>
                  <div class="col-sm-10">
                    <select class="form-select" id="sources" name="sources" required>
                      <option selected disabled>Select source</option>
                      <option value="call">Call</option>
                      <option value="email">Email</option>
                      <option value="social-media">Social Media</option>
                      <option value="whatsapp">WhatsApp</option>
                      <option value="referral">Referral</option>
                      <option value="google-ad">Google Ad</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="company-name" class="col-sm-2 col-form-label">Company Name:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="company-name" name="company-name">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="event-date" class="col-sm-2 col-form-label">Date of the Event:</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="event-date" name="event-date" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="pax" class="col-sm-2 col-form-label">No. of Pax:</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="pax" name="pax" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="email" class="col-sm-2 col-form-label">Email Address:</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="contact-number" class="col-sm-2 col-form-label">Contact Number:</label>
                  <div class="col-sm-10">
                    <input type="tel" class="form-control" id="contact-number" name="contact-number" required>
                  </div>
                </div>
                <!-- End of Basic Fields -->

                <!-- Advanced Fields -->
                <div class="row mb-3">
                  <label for="event-type" class="col-sm-2 col-form-label">Event Type:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="event-type" name="event-type">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="event-location" class="col-sm-2 col-form-label">Event Location:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="event-location" name="event-location">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="budget" class="col-sm-2 col-form-label">Budget:</label>
                  <div class="col-sm-10">
                    <input type="range" class="form-range" id="budget" name="budget" min="0" max="100" step="1"
                      oninput="budgetOutput.value = formatCurrency(budget.value * 1000)">
                    <output id="budgetOutput">50,000 AED</output>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="additional-services" class="col-sm-2 col-form-label">Additional Services:</label>
                  <div class="col-sm-10">
                    <select class="form-select" id="additional-services" name="additional-services">
                      <option value="none">None</option>
                      <option value="decorations">Decorations</option>
                      <option value="audiovisual-equipment">Audiovisual Equipment</option>
                      <option value="event-staff">Event Staff</option>
                      <option value="photography-videography">Photography/Videography</option>
                      <option value="transportation">Transportation</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="dietary-restrictions" class="col-sm-2 col-form-label">Dietary Restrictions:</label>
                  <div class="col-sm-10">
                    <select class="form-select" id="dietary-restrictions" name="dietary-restrictions">
                      <option value="none">None</option>
                      <option value="vegetarian">Vegetarian</option>
                      <option value="vegan">Vegan</option>
                      <option value="gluten-free">Gluten-Free</option>
                      <option value="nut-allergy">Nut Allergy</option>
                      <option value="lactose-intolerant">Lactose Intolerant</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="special-requests" class="col-sm-2 col-form-label">Special Requests:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="special-requests" name="special-requests">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="preferred-contact-method" class="col-sm-2 col-form-label">Preferred Contact
                    Method:</label>
                  <div class="col-sm-10">
                    <select class="form-select" id="preferred-contact-method" name="preferred-contact-method">
                      <option value="default" selected>Default</option>
                      <option value="phone">Phone</option>
                      <option value="email">Email</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="lead-source-details" class="col-sm-2 col-form-label">Lead Source Details:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="lead-source-details" name="lead-source-details">
                  </div>
                </div>
                <!-- End of Advanced Fields -->

                <div class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">Status:</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="status" id="status-contacted" value="contacted"
                        checked>
                      <label class="form-check-label" for="status-contacted">
                        Contacted
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="status" id="status-not-contacted"
                        value="not-contacted">
                      <label class="form-check-label" for="status-not-contacted">
                        Not Contacted
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="status" id="status-in-progress"
                        value="in-progress">
                      <label class="form-check-label" for="status-in-progress">
                        In Progress
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="status" id="status-converted"
                        value="converted">
                      <label class="form-check-label" for="status-converted">
                        Converted
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="status" id="status-lost" value="lost">
                      <label class="form-check-label" for="status-lost">
                        Lost
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">Confirmation:</legend>
                  <div class="col-sm-10">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="confirmation" name="confirmation">
                      <label class="form-check-label" for="confirmation">
                        Confirm
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Submit Form</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NexusFlow</span></strong>. All Rights Reserved
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>