<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NexusFlow</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/Images/favicon.png" rel="icon">
  <link href="assets/Images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/Images/Logo_1.png" alt="">
        <span class="d-none d-lg-block">NexusFlow</span>
      </a> <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new leads notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>New Lead: John Doe</h4>
                <p>New lead received from John Doe</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Updated Lead: Jane Smith</h4>
                <p>Lead details for Jane Smith updated</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>New Lead: Mark Johnson</h4>
                <p>New lead received from Mark Johnson</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Updated Lead: Emily Brown</h4>
                <p>Lead details for Emily Brown updated</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all leads notifications</a>
            </li>
          </ul><!-- End Leads Notifications Dropdown Items -->
        </li><!-- End Leads Notifications Nav -->

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/Images/messages-1.jpeg" alt="" class="rounded-circle">
                <div>
                  <h4>Lara Jade</h4>
                  <p>Hello, are you available for a meeting tomorrow?</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/Images/messages-2.jpeg" alt="" class="rounded-circle">
                <div>
                  <h4>Jane Smith</h4>
                  <p>Can you please share the updated sales report?</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/Images/messages-3.jpeg" alt="" class="rounded-circle">
                <div>
                  <h4>Ana Johnson</h4>
                  <p>Great job on the project! Let's celebrate our success.</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>
          </ul><!-- End Messages Dropdown Items -->
        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/Images/profile-img.JPG" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Natalie</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Natalie Wilson</h6>
              <span>Web Developer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="ST-user-settings.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="ST-general-settings.html">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#" onclick="openWhatsAppChat()">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-login.html">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#main-menu-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Main Menu</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="main-menu-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="menu-canapés-finger-foods.html">
              <i class="bi bi-circle"></i><span>Canapés & Finger Foods</span>
            </a>
          </li>
          <li>
            <a href="menu-breakfast.html">
              <i class="bi bi-circle"></i><span>Breakfast</span>
            </a>
          </li>
          <li>
            <a href="menu-salads.html">
              <i class="bi bi-circle"></i><span>Salads</span>
            </a>
          </li>
          <li>
            <a href="menu-main-courses.html">
              <i class="bi bi-circle"></i><span>Main Courses</span>
            </a>
          </li>
          <li>
            <a href="menu-live-stations.html">
              <i class="bi bi-circle"></i><span>Live Stations</span>
            </a>
          </li>
          <li>
            <a href="menu-desserts.html">
              <i class="bi bi-circle"></i><span>Desserts</span>
            </a>
          </li>
          <li>
            <a href="menu-beverage-selection.html">
              <i class="bi bi-circle"></i><span>Beverage Selection</span>
            </a>
          </li>
        </ul>
      </li><!-- End Main Menu Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#lead-management-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Lead Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="lead-management-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="LM-lead-tracking-and-organization.html">
              <i class="bi bi-circle"></i><span>Lead Tracking and Organization</span>
            </a>
          </li>
          <li>
            <a href="LM-follow-ups-and-reminders.html">
              <i class="bi bi-circle"></i><span>Follow-ups and Reminders</span>
            </a>
          </li>
          <li>
            <a href="LM-lead-conversion.html">
              <i class="bi bi-circle"></i><span>Lead Conversion</span>
            </a>
          </li>
        </ul>
      </li><!-- End Lead Management Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#event-management-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-calendar-event"></i><span>Event Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="event-management-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="EM-event-details-and-specifications.html">
              <i class="bi bi-circle"></i><span>Event Details and Specifications</span>
            </a>
          </li>
          <li>
            <a href="EM-venue-selection-and-availability.html">
              <i class="bi bi-circle"></i><span>Venue Selection and Availability</span>
            </a>
          </li>
          <li>
            <a href="EM-menu-customization-and-planning.html">
              <i class="bi bi-circle"></i><span>Menu Customization and Planning</span>
            </a>
          </li>
          <li>
            <a href="EM-equipment-and-rental-management.html">
              <i class="bi bi-circle"></i><span>Equipment and Rental Management</span>
            </a>
          </li>
          <li>
            <a href="EM-vendor-and-supplier-coordination.html">
              <i class="bi bi-circle"></i><span>Vendor and Supplier Coordination</span>
            </a>
          </li>
        </ul>
      </li><!-- End Event Management Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#financial-management-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-currency-dollar"></i><span>Financial Management</span><i
            class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="financial-management-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="FM-cost-estimation-and-budgeting.html">
              <i class="bi bi-circle"></i><span>Cost Estimation and Budgeting</span>
            </a>
          </li>
          <li>
            <a href="FM-pricing-and-package-management.html">
              <i class="bi bi-circle"></i><span>Pricing and Package Management</span>
            </a>
          </li>
          <li>
            <a href="FM-invoicing-and-payment-tracking.html">
              <i class="bi bi-circle"></i><span>Invoicing and Payment Tracking</span>
            </a>
          </li>
        </ul>
      </li><!-- End Financial Management Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#feedback-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-star"></i><span>Feedback & Reviews</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="feedback-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="FR-feedback-collection-and-analysis.html">
              <i class="bi bi-circle"></i><span>Feedback Collection and Analysis</span>
            </a>
          </li>
          <li>
            <a href="FR-customer-reviews-and-testimonials.html">
              <i class="bi bi-circle"></i><span>Customer Reviews and Testimonials</span>
            </a>
          </li>
        </ul>
      </li><!-- End Feedback & Reviews Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="ST-general-settings.html">
              <i class="bi bi-circle"></i><span>General Settings</span>
            </a>
          </li>
          <li>
            <a href="ST-user-settings.html">
              <i class="bi bi-circle"></i><span>User Settings</span>
            </a>
          </li>
        </ul>
      </li><!-- End Settings Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-question-circle"></i>
          <span>Help?</span>
        </a>
      </li><!-- End Help Nav -->

    </ul>

  </aside><!-- End Sidebar -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Breakfast</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Main Menu</li>
          <li class="breadcrumb-item active">Breakfast</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Continental Breakfast Selection</h5>
              <!-- Default List group -->
              <ul class="list-group">
                <li class="list-group-item">Selections of Mini Croissants (Chocolate / Plain / Cheese / Zaatar / Ham &
                  Cheese)</li>
                <li class="list-group-item">Selections of Omelettes (Spanish / Vegetable / Cheese)</li>
                <li class="list-group-item">Selections of Mini Muffins (Blueberry / Vanilla / Chocolate Chip / Banana /
                  Savory Feta & Olive / Lemon Yoghurt / Raspberry Almond)</li>
                <li class="list-group-item">Selections of Mini Danish Pastries (Apple / Peach / Pineapple / Blueberry /
                  Pain Au Raisin)</li>
                <li class="list-group-item">Selections of Cookies (Vanilla Sable / Vanilla Madeleine / Herbs Cookies /
                  Chocolate Chip / Cedar Tree Home Made Cookies)</li>
                <li class="list-group-item">Selections of Crepes (Banana Chocolate Crepe / Banana Sushi Roll Crepes /
                  Crepes Suzette / Lotus Cream Crepe)</li>
                <li class="list-group-item">Selections of Doughnuts (Cinnamon (Special) / Hazelnut Mocha (Special) /
                  Caramel Glazed / Chocolate Glazed / Vanilla Glazed)</li>
                <li class="list-group-item">Selections of Cake Slices (English Cake / Marble Cake / Banana Cake / Carrot
                  Cake)</li>
                <li class="list-group-item">Assorted Breads served with Bottled Jam & Butter Portions</li>
                <li class="list-group-item">Cheese Chausson</li>
                <li class="list-group-item">Chocolate Chia Seed Pudding in Shots</li>
                <li class="list-group-item">Granola Bar</li>
                <li class="list-group-item">Grilled Sausages</li>
                <li class="list-group-item">Hash Brown</li>
                <li class="list-group-item">Mushroom & Cheese Quesadilla</li>
                <li class="list-group-item">Pancake with Maple Syrup</li>
                <li class="list-group-item">Petit four</li>
                <li class="list-group-item">Plain / Flavored Yoghurts</li>
                <li class="list-group-item">Sausage Rolls</li>
                <li class="list-group-item">Strawberry Banana Skewers</li>
                <li class="list-group-item">Strawberry Rhubarb Crumble</li>
                <li class="list-group-item">Sweet French toast</li>
                <li class="list-group-item">Whole Grain Cereal with Low Fat Milk</li>
                <li class="list-group-item">Yoghurt Parfait with Granola & Berries</li>
              </ul><!-- End Default List group -->

            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Indian Breakfast Selection</h5>
              <!-- Default List group -->
              <ul class="list-group">
                <li class="list-group-item">Aloo Paratha with Chana Masala</li>
                <li class="list-group-item">Puri with Chana</li>
                <li class="list-group-item">Vada Sambar</li>
                <li class="list-group-item">Aloo Puri</li>
                <li class="list-group-item">Halwa Puri</li>
                <li class="list-group-item">Idli with Sambar Coconut Chutney</li>
                <li class="list-group-item">Dosa with Sambar & White Coconut Chutney</li>
              </ul><!-- End Default List group -->
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Arabic Breakfast Selection</h5>
              <!-- Default List group -->
              <ul class="list-group">
                <li class="list-group-item">Balaleet</li>
                <li class="list-group-item">Foul Moudammas</li>
                <li class="list-group-item">Boiled Egg in Regag Bread</li>
                <li class="list-group-item">Fresh Labneh with Olive Oil</li>
                <li class="list-group-item">Selections of Mini Fatayer (Spinach / Cheese / Meat / Chicken)</li>
                <li class="list-group-item">Selections of Mini Manakish (Zaatar / Meat / Cheese)</li>
                <li class="list-group-item">Selections of Mini Sambousek (Meat / Cheese / Zaatar)</li>
                <li class="list-group-item">Assorted Cold Cuts (Smoked Turkey / Beef Salami / Smoked Chicken / Beef
                  Mortadella with Olives)</li>
                <li class="list-group-item">Assorted Vegetable Platter (Tomato / Cucumber / Fresh Mint / Fresh Zaatar /
                  Spring Onion / Lemon)</li>
                <li class="list-group-item">Assorted Cheese Platter (Feta Cheese / Double Cream Cheese / Majdouli /
                  Akawi Cheese)</li>
                <li class="list-group-item">Selections of Mini Wraps (Falafel / Chicken Fajita / Vegetable Fajita / Mini
                  Labneh with Mint)</li>
              </ul><!-- End Default List group -->
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Breakfast Live Stations With A Chef</h5>
              <!-- Default List group -->
              <ul class="list-group">
                <li class="list-group-item">Egg Live Station</li>
                <li class="list-group-item">Variety of Omelettes: Plain / Cheese / Mushroom / Fried Eggs / Scrambled /
                  Capsicum / Onion / Garlic / Boiled Eggs</li>
                <li class="list-group-item">Special Adds on: Turkey Ham / Beef Bacon</li>
                <li class="list-group-item">Crepe Live Station</li>
                <li class="list-group-item">Nutella / Strawberry / Banana / Pineapple / Nuts / Sugar Powder</li>
                <li class="list-group-item">Pancake Live Station</li>
                <li class="list-group-item">Cheese / Chocolate / Maple Syrup / Turkey</li>
              </ul><!-- End Default List group -->
            </div>
          </div>
        </div>
      </div>
    </section>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NexusFlow</span></strong>. All Rights Reserved
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>